ion-content{
    text-align: center;
}
.check{
    margin-left: 5%;
}
.labelCheck{
    margin-left: 5%;
}
.buttons{
    margin-left: 20%;
    margin-right: 5%;
    text-align: center;
}
ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
}
.labels{
    margin-top: 5%;

}