ion-content{
    --background: url(../../assets/dawAfoodie.jpg) no-repeat center/cover fixed;
    text-align: center;
}
#googleLabel{
    padding-left: 5%;
}
#faceLabel{
    padding-left: 5%;
}
#mailLabel{
    padding-left: 5%;
}
.buttons{
    margin:12%;
    text-align: center;
}
.link{
    color: #0044ff;
}
.text{
    color: #000000;
}