<ion-content>
  <ion-button class="buttons" expand="block">
    <ion-icon name="logo-googleplus"></ion-icon><ion-label id="googleLabel">Login with Google</ion-label>
  </ion-button>
  <ion-button class="buttons" expand="block">
    <ion-icon name="logo-facebook"></ion-icon><ion-label id="faceLabel">Login with FaceBook</ion-label>
  </ion-button>
  <p>OR</p>
  <ion-button color="success" class="buttons" expand="block">
    <ion-icon name="mail"></ion-icon><ion-label id="mailLabel">Login with Mail</ion-label>
  </ion-button>
  <ion-label>You don't have an account?</ion-label><a> Register here</a>
</ion-content>
