ion-content{
    text-align: center;
}

ion-card-header{
    display: flex;
    flex-direction: column;
    height: 30% !important;
    margin-top: 40% !important;
    /* margin: 0 !important; */
}

.fabButton{
    margin-top: 50%;
}
